$font-stack: Helvetica, sans-serif;
$background-color: #f9f9f9;

.BreadCrumb {
  height: 40px;
}

ul {
  list-style-type: none;
  margin: 5;
  color: #333;
}

li {
  display: inline-block;
  position: relative;
  padding-right: 2em;
  margin: 0;
}
  li:after {
    content: '>';
    position: absolute;
    display: inline-block;
    right: 0;
    width: 2em;
    text-align: center;
  }
li:last-child {
  font-weight: bold;
  width: 200px;
}
  li:last-child:after {
    content: '';
  }

a {
  text-decoration: none;
  display: inline-block;
  color: #333;
  white-space: nowrap;
  
}
  a:hover {
    text-decoration: underline;
  }

.collapsed li {
  overflow: hidden;
}
  .collapsed li:after {
    background: rgb(227,227,227);
    background: linear-gradient(90deg, rgba(249,249,249,0.4) 0%, rgba(249,249,249,1) 35%);
    padding-left: 1em;
  }

.collapsed a {
  max-width: 2em;
  transition: max-width 300ms ease-in-out;
}
  .collapsed a:hover,
  .collapsed a:focus,
  .collapsed li:hover a {
    max-width: 1000px;
  }
  .collapsed li:hover:after {
    padding-left: 0em;
    background: transparent;
  }