$font-stack: Helvetica, sans-serif;
$background-color: #f9f9f9;

.BreadCrumb {
  height: 20px;
}

ul {
  list-style-type: none;
  margin: 5;
  color: #333;
  font-size: 14px;
}

li {
  display: inline-block;
  position: relative;
  padding-right: 2em;
  margin: 0;
}
  li:after {
    content: '>';
    position: absolute;
    display: inline-block;
    right: 0;
    width: 2em;
    text-align: center;
  }
li:last-child {
  font-weight: bold;
  width: 200px;
}
  li:last-child:after {
    content: '';
  }

a {
  text-decoration: none;
  display: inline-block;
  color: #333;
  white-space: nowrap;
  
}
  a:hover {
    text-decoration: none;
  }

.collapsed li {
  overflow: hidden;
}
  .collapsed a:hover,
  .collapsed a:focus,
  .collapsed li:hover a {
    max-width: 800px;
  }
  .collapsed li:hover:after {
    padding-left: 0em;
    background: transparent;
  }